
* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/*pasek nawigacji*/

.wrapper {
    display: flex;
    height: inherit;
    width: inherit;
}

/* ikonka z kontem*/

#konto {
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.1em solid #FFFFFF;
    border-radius: 2em;
    box-shadow: 0px 30px 30px #2699FB1A;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.3em 0.3em 0.3em 0.3em;
    text-align: center;
}

#konto > a {
    color: black;
    font-size: 0.9em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

#konto > a > i {
    color: blue;
    margin-right: 0.3em;
    scroll-padding-right: 0.2em;
}


.wrapper .sidebar {
    align-items: center;
    background: transparent linear-gradient(180deg, #0821FF 0%, #23FFF0 100%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    display: flex;

    flex-direction: column;
    height: 100%;
    padding-top: 70px;
    position: fixed;
    width: 180px;
}

.wrapper .sidebar .box {
    background: transparent;
    padding: 0.5em;
    padding-left: 1em;
    transition: .2s all;
    width: 100%;
}

#konto {
    margin-bottom: 1.5em;
    padding: 0.5em;
}

.wrapper .sidebar .box p {
    color: white;
}

.wrapper .sidebar .box p i {
    color: white;
    margin-right: 0.5em;
}

.wrapper .sidebar:hover .box {
    box-shadow: none;
    opacity: .5;
    transform: scale(.98);
}

.wrapper .sidebar:hover .box:hover p {
    color: #0821FF;
    font-weight: bold;
}

.wrapper .sidebar:hover .box:hover p i {
    color: #0821FF;
    font-weight: bold;
}

.wrapper .sidebar:hover .box:hover {
    background: white;
    filter: blur(0px);
    opacity: 1;
    padding-bottom: 0;
    padding-left: 2em;
    padding-top: 1em;
    transform: scale(1);
}

/*treść strony*/

.wrapper .content {
    height: inherit;
    margin-left: 180px;
    width: inherit;
}

/* header */

.wrapper .content .header {
    background: #0822FE 0% 0% no-repeat padding-box;
    padding: 35px;
    text-align: center;
}

.wrapper .content .header .logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    left: 50%;
    position: fixed;
    top: 0;
    width: 20%;
}

/*logo*/
#woz {
    height: 4em;
    width: 4.3em;
}

#napis {
    height: 2em;
    width: 6em;
}

.sidebar .closebtn {
    display: none;

}

#sidebarCollapse {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .sidebar .closebtn {
        color: white;
        display: block;
        font-size: 36px;
        margin-left: 4em;
        text-decoration: none;
    }

    #sidebarCollapse {
        display: block;
        left: 0;
        position: relative;
        top: 0em;
        background: #0821FF;
    }

    #sidebarCollapse:after {
        z-index: 0;
    }

    .wrapper .content {
        margin-left: 0;
    }

    .wrapper .content .header .logo {
        left: 25%;
    }

    .wrapper .sidebar {
        background-color: #111; /* Black*/
        height: 100%; /* 100% Full-height */
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        position: fixed; /* Stay in place */
        top: 0; /* Stay at the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        width: 0; /* 0 width - change this with JavaScript */
        z-index: 1; /* Stay on top */
    }

}
