.wrapper .content .section {
    display: flex;
    flex-direction: row;
    height: 91%;

    overflow-y: auto;
    text-align: center;
    width: 100%;
}

.wrapper .content .section .left {
    height: auto;
    width: 49%;
}

.wrapper .content .section .right {
    height: auto;
    width: 49%;
}

.wrapper .content .section .first {
    height: auto;
    width: 100%;
}

.wrapper .content .section .left .first p {
    color: #00FE4C;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 3px 6px #00000045;
}

.wrapper .content .section .right .first p {
    color: #FF0000;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 3px 6px #00000045;
}


/*SECOND*/
.wrapper .content .section .second {
    height: auto;
    width: 100%;
}

.wrapper .content .section .second form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.wrapper .content .section .second form input {
    background: #F1F9FF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 1em;
    color: #2699FB;
    margin-right: 2em;
    outline: none;
    padding: 0.3em 1em;
}

.wrapper .content .section .second form div {
    text-align: left;
}

.wrapper .content .section .second p {
    color: #2699FB;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0.2em;
    margin-left: 1em;
}

/*THIRD*/

.wrapper .content .section .third {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.wrapper .content .section .third .table {
    height: auto;
    margin-top: 1em;
    padding-left: 1em;
    width: 50%;
}

.wrapper .content .section .third .table table {
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
}

.wrapper .content .section .third .table table tr td p {
    margin: 0;
}

.wrapper .content .section .third .table table tr {
    border: 2px solid #2699FB;
}

.wrapper .content .section .third .table table tr td {
    border: 2px solid #2699FB;
    color: #2699FB;
    padding: 0.2em;
}

.wrapper .content .section .third .table .z {
    color: #00FE4C;
}

.wrapper .content .section .third .table .cz {
    color: #FF0000;
}

.wrapper .content .section .third .buttons {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1.5em;
    width: 50%;
}

.wrapper .content .section .third button {
    background: none;
    border: none;
    color: #2699FB;
    margin-bottom: 1em;
    outline: none;
    padding-right: 1em;
    text-align: right;
}

.wrapper .content .section .third button i {
    padding-left: 2em;
}

.wrapper .content .section .third button:hover {
    color: black;
}


/*FOURTH*/
.wrapper .content .section .fourth {
    height: 40%;
    width: 80%;
}

.wrapper .content .section .fourth img {
    border: 1px solid #2699FB;
    box-shadow: 0px 7px 7px #00000045;;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2em;
    width: 100%;

}

/*LINIA*/
.wrapper .content .section .line {
    border-right: 1px solid #BCE0FD;
    height: 80%;
    margin-top: 5%;
    width: 2%;
}

::placeholder {
    color: #2699FB;
}



@media screen and (min-width: 0px) and (max-width: 600px) {
    .wrapper .content .section {
        flex-direction: column;
    }

    .wrapper .content .section .left {
        height: auto;
        width: 100%;
    }

    .wrapper .content .section .right {
        height: auto;
        margin-bottom: 2em;
        width: 100%;
    }

    .wrapper .content .section .line {
        border-top: 1px solid #BCE0FD;
        height: 2%;
        margin-bottom: 2em;
        margin-left: 10%;
        margin-top: 4em;
        width: 80%;
    }

    .wrapper .content .section .second form {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        margin-left: 1.5em;
    }

    .wrapper .content .section .third {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .wrapper .content .section .third .table {
        width: 100%;
    }

    .wrapper .content .section .third .table table {
        margin-left: 10%;
        margin-right: 10%;
        padding: 0;
        width: 80%;
    }

}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .wrapper .content .section {
        flex-direction: column;
    }

    .wrapper .content .section .left {
        height: auto;
        width: 100%;
    }

    .wrapper .content .section .right {
        height: auto;
        margin-bottom: 2em;
        width: 100%;
    }

    .wrapper .content .section .line {
        border-top: 1px solid #BCE0FD;
        height: 2%;
        margin-bottom: 2em;
        margin-left: 10%;
        margin-top: 4em;
        width: 80%;
    }

}