
* {
    outline: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

::placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

.container {
    align-items: center;
    background: transparent linear-gradient(180deg, #0821FF 0%, #23FFF0 100%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: center;
    margin: 0;
    max-width: unset;
}

.messages{
    display: block;
    color: #FFFFFF;
    font: Bold 1em Arial Rounded MT;
}
p {
    color: #FFFFFF;
    font: Bold 2.5em Arial Rounded MT;
    letter-spacing: 0;
    margin-bottom: 1em;
    margin-top: -0.4em;
    text-align: center;

}

form {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    width: 30%;


}

input {
    background: transparent;
    border: 2px solid #BCE0FD;
    border-radius: 2em;
    box-sizing: border-box;
    color: white;
    margin-bottom: 1em;
    outline: none;
    padding: 1em 1em 1em 1.5em;
    transition: 0.3s;
    width: 100%;

}

input:focus {
    box-shadow: 0 0 8px 0 white;
}

.inputWithIcon input {
    padding-left: 3em;

}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    color: white;
    left: 0;
    margin-top: 0.8em;
    margin-left: 0.8em;
    padding: 9px 8px;
    position: absolute;
    top: 0;
    transition: 0.3s;
}

.container .form .messages {
    color: white;
    font-size: 1em;
}

.button2 > i {
    display: inline;
    padding-right: 1em;
}

.button3 > i {
    display: inline;
    padding-right: 1em;
}

.button1 {

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 5em;
    margin: auto;
    outline: 0;
    padding: 1em;
    width: 20%;

}

.button1:hover {
    box-shadow: 0 0 8px 0 white;
}

button[type="button"]:hover {
    box-shadow: 0 0 8px 0 white;
}

.button2 {
    background: transparent;
    border: 2px solid #BCE0FD;
    border-radius: 2em;
    color: #FFFFFF;
    font: Bold 1em Arial;
    letter-spacing: 0;
    margin-bottom: auto;
    margin-top: 1em;
    padding: 0.7em;
    text-align: center;
}

.button2 a {
    color: #FFFFFF;
    font: Bold 1em Arial;
    text-align: center;
    text-decoration: none;
}


.button3 {
    background: #F8F7F7 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;
    color: #1ED9F2;
    font: Bold 1em Arial;
    letter-spacing: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0.7em;
    text-align: center;
}


.logo {

    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.logo > img {
    width: 12.5em;
}


@media only screen and (max-width: 992px) {


    .container {
        flex-direction: column;
    }

    form {
        width: 60%;
    }

    .logo > img {
        margin-bottom: 2em;
        width: 7.5em;
    }

    .button1 {
        width: 15%;
    }
}


@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    form {
        width: 60%;
    }

    .logo > img {
        margin-bottom: 1.5em;
        width: 7.5em;
    }

    p {
        margin-top: 1em;
    }

    .button1 {
        background: transparent;
        color: white;
        width: 20%;

    }

    .button3 {
        background: transparent;
        color: white;
    }

    .button1 > i {
        color: white;
    }

}


