#invoicesb{
    background: none;
    border: none;
    color: #0822FE;
    font-size: 1.5em;
    float: left;
    margin-left: 1em;
}

#invoicesb:hover{
    color: black;
    font-weight: bold;
}
.wrapper .content .section {
    height: 91%;
    overflow-y: scroll;
    text-align: center;
    width: 100%;

}

/*CONTENT*/

.wrapper .content .section .up {
    display: flex;
    flex-direction: row;
    height: 50%;
    margin-bottom: -2em;
    margin-top: -3em;
    width: inherit;
}

.wrapper .content .section h1 {

    color: #0822FE;
    font-size: 1.5em;
    margin-left: 1em;
    margin-top: 1em;
    text-align: left;
}

.wrapper .content .section .up .window {
    border: 1px solid #17A1F6;
    border-radius: 64px;
    display: flex;
    flex-direction: row;
    height: 70%;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 4em;
    width: 100%;
}

.wrapper .content .section .up .window .left {
    padding-top: 1.8em;
    text-align: right;
    width: 26.7%;
}

.wrapper .content .section .up .window .left p {
    font-size: 1.2em;
}

.wrapper .content .section .up .window .center {
    padding-left: 1em;
    padding-top: 1.8em;
    text-align: left;
    width: 40%;
}

.wrapper .content .section .up .window .center p {
    color: #2699FB;
    font-size: 1.2em;
    font-weight: bold;
}

.wrapper .content .section .up .window .right {
    margin-left: -3em;
    padding-top: 1em;
    text-align: center;
    width: 33.3%;
}

.wrapper .content .section .up .window .right p {
    color: #0822FE;
    font-size: 1.7em;
    font-weight: bold;
}

.wrapper .content .section .up .window .right hr {
    border-top: 1px solid #17A1F6;
    margin-left: 10%;
    width: 80%;
}

.wrapper .content .section .up .window .right button {
    background: #F1F9FF 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 28px;
    color: #2699FB;
    font-size: 1em;
    font-weight: bold;
    outline: 0;
    padding: 0.3em 1em;
    padding-right: 0em;
    text-align: center;
    width: 70%;
}

.wrapper .content .section .up .window .right button:hover {
    box-shadow: 0 0 20px 0 #17A1F6;
}

.wrapper .content .section .up .window .right button i {
    padding-left: 1em;
}


.wrapper .content .section .table {
    height: 50%;
    width: inherit;
}

.wrapper .content .section .table .inv {

    height: 80%;
    margin-top: 0em;
    overflow-x: scroll;
    width: 100%;
}


.wrapper .content .section .table .inv .headings {
    border-bottom: 1px solid #17A1F6;
    text-align: center;
    padding: 0;
}

.wrapper .content .section .table .inv .headings p {
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}

.wrapper .content .section .table .inv button {
    background: none;
    border: none;
    color: #2699FB;
    font-size: 1.5em;
    outline: 0;
}


.wrapper .content .section .table .inv button:hover {
    color: black;
}

.wrapper .content .section .table .inv tr td {
    border: none;
    padding: 0.2em;
    vertical-align: middle;
}

.wrapper .content .section .button {
    display: flex;
    flex-direction: row;
    height: 7%;
    margin-bottom: 1em;
    width: 100%;
}

.wrapper .content .section h1 {
    color: #0822FE;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
    text-align: left;
}

.wrapper .content .section .table h1 {
    color: #0822FE;
    font-size: 1.5em;
    margin-left: 1em;
    margin-top: 0.5em;
    text-align: left;
}


@media screen and (max-width: 600px) {

    .wrapper .content .section .up {
        margin-bottom: -5em;
    }

    .wrapper .content .section .up .window {
        border: none;
        display: flex;
        flex-direction: row;
        font-size: 1em;
        height: 70%;
        margin: 0;
        width: 100%;
    }

    .wrapper .content .section .up .window .right p {
        margin-top: -1em;

    }

    .wrapper .content .section .table .inv .headings p {
        color: #000000;
        font-size: 0.8em;
        font-weight: bold;
        margin-bottom: 0;
    }

    .wrapper .content .section .up .window .left {
        margin-top: 1em;
    }

    .wrapper .content .section .up .window .left p {
        font-size: 0.8em;
    }

    .wrapper .content .section .up .window .center {
        margin-top: -0.2em;
    }

    .wrapper .content .section .up .window .center p {
        font-size: 0.8em;
        padding-top: 1.5em;
    }

    .wrapper .content .section .up .window .right {
        font-size: 0.8em;
        margin-left: 0em;
        margin-top: 3em;
        width: 50%;
    }

    .wrapper .content .section .up .window .right button {
        width: 90%;
    }

    .wrapper .content .section .table .inv {
        font-size: 0.8em;
        overflow-x: scroll;
    }

    .wrapper .content .section h1 {
        color: #0822FE;
        font-size: 1em;
        margin-left: 1em;
        margin-top: 1em;

    }


    .wrapper .content .section .table h1 {
        color: #0822FE;
        font-size: 1em;
        margin-left: 1em;
        margin-top: 1em;
        text-align: left;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .wrapper .content .section .up .window {
        border: none;
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
        height: 70%;
        margin: 0;
        margin-top: 4em;
        width: 100%;
    }

    .wrapper .content .section .up .window .right p {
        margin-top: -1em;

    }

    .wrapper .content .section .table .inv .headings p {
        color: #000000;
        font-size: 0.8em;
        font-weight: bold;
        margin-bottom: 0;
    }

    .wrapper .content .section .table .inv {
        overflow-x: scroll;
    }

}
