* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.wrapper {
    background: transparent linear-gradient(180deg, #0821FF 0%, #23FFF0 100%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: inherit;
    overflow: auto;
    text-align: center;
    width: inherit;
}

.wrapper .logo {
    display: flex;
    flex-direction: row;
    grid-area: 1 / 1 / 3 / 4;
}

.wrapper .logo .woz {
    height: 7em;
    margin-left: 1em;
    margin-top: 1em;
    width: 7em;
}

.wrapper .logo .napis {
    height: 4em;
    margin-left: 1em;
    margin-top: 2.5em;
    width: 12em;
}

.wrapper a {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 45%;
}

.wrapper .a {
    grid-area: 3 / 1 / 6 / 3;
}

.wrapper [class^="okr"] {
    outline: none;
}

.wrapper .a .okr1 {
    background: #1BE5EB 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 40em;
    box-shadow: 0px 3px 6px #000000;
    height: 11em;
    margin-left: 3em;
    margin-top: 1em;
    width: 11em;
}

.wrapper .b {
    grid-area: 6 / 2 / 10 / 5;
}

.wrapper .b .okr2 {
    background: #FF00BB 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 40em;
    box-shadow: 0px 3px 6px #000000;
    height: 18em;
    margin-left: 2em;
    width: 18em;
}

.wrapper .c {
    grid-area: 2 / 4 / 5 / 7;
}

.wrapper .c .okr3 {
    background: #E0E800 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 40em;
    box-shadow: 0px 3px 6px #000000;
    height: 13em;
    margin-left: 1em;
    width: 13em;
}

.wrapper .d {
    grid-area: 1 / 8 / 5 / 11;
}

.wrapper .d .okr4 {
    background: #FF00BB 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 40em;
    box-shadow: 0px 3px 6px #000000;
    height: 15em;
    margin-left: 4em;
    margin-top: 1em;
    width: 15em;
}

.wrapper .e {
    grid-area: 4 / 6 / 8 / 9;
}

.wrapper .e .okr5 {
    background: #FF0000 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 40em;
    box-shadow: 0px 3px 6px #000000;
    height: 13em;
    margin-left: 4em;
    margin-top: 2em;
    width: 13em;
}

.wrapper .f {
    grid-area: 8 / 5 / 11 / 8;
}

.wrapper .f .okr6 {
    background: #00FE4C 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 40em;
    box-shadow: 0px 3px 6px #000000;
    height: 12em;
    margin-left: 3em;
    width: 12em;
}


.wrapper .g {
    grid-area: 7 / 9 / 10 / 11;
}

.wrapper .g .okr7 {
    background: #FFBC00 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 40em;
    box-shadow: 0px 3px 6px #000000;
    height: 11em;
    margin-top: 2em;
    width: 11em;
}

.wrapper button[class^="okr"]:hover {
    background: none;
    box-shadow: 0px 0px 40px 0 white;
    margin-bottom: 4em;
    margin-right: 4em;
    transition: .2s all;
}

.wrapper button p {
    color: white;
    font-size: 1em;
    font-weight: bold;

}

.wrapper button:hover p {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

@media only screen and (max-width: 992px) {

    .wrapper .d .okr4 {
        height: 12em;
        margin-top: 2em;
        width: 12em;

    }

    .wrapper .b .okr2 {
        height: 15em;
        width: 15em;
    }

    .wrapper .c .okr3 {
        height: 9em;
        margin-left: 4em;
        margin-top: 3em;
        width: 9em;
    }

    .wrapper .f .okr6 {
        height: 10em;
        margin-right: -4em;
        width: 10em;
    }
}

@media screen and (max-width: 600px) {
    .wrapper button p {
        font-size: 1em;
    }

    .wrapper button:hover p {
        font-size: 1em;
    }

    .wrapper .logo {
        grid-area: 1 / 1 / 3 / 11;
    }

    .wrapper a {
        font-size: 0.8em;;
        top: 40%;
    }

    .wrapper .a .okr1 {
        height: 8em;
        margin-left: 2em;
        margin-top: 0;
        width: 8em;

    }

    .wrapper .b .okr2 {
        height: 8em;
        margin-left: 2em;
        margin-top: 0;
        width: 8em;
    }

    .wrapper .c .okr3 {
        height: 8em;
        margin-left: 2em;
        margin-top: 0;
        width: 8em;
    }

    .wrapper .d .okr4 {
        height: 8em;
        margin-left: 2em;
        margin-top: 0;
        width: 8em;
    }

    .wrapper .e .okr5 {
        height: 8em;
        margin-left: 2em;
        margin-top: 0;
        width: 8em;
    }

    .wrapper .f .okr6 {
        height: 8em;
        margin-left: 2em;
        margin-right: 0;
        margin-top: 0;
        width: 8em;
    }

    .wrapper .g .okr7 {
        height: 8em;
        margin-left: 1.5em;
        margin-top: 0;
        width: 8em;


    }


    .wrapper .a {
        grid-area: 3 / 1 / 5 / 6;
    }

    .wrapper .b {
        grid-area: 3 / 6 / 5 / 11;
    }


    .wrapper .c {
        grid-area: 5 / 1 / 7 / 6;
    }

    .wrapper .d {
        grid-area: 5 / 6 / 7 / 11;
    }

    .wrapper .e {
        grid-area: 7 / 1 / 9 / 6;
    }


    .wrapper .f {
        grid-area: 7 / 6 / 9 / 11;
    }


    .wrapper .g {
        grid-area: 9 / 4 / 11 / 7;
    }

}
