
.wrapper .content .section {
    display: flex;
    flex-direction: row;
    height: 91%;
    overflow-y: auto;
    text-align: center;
    width: 100%;
}


/*sekcja */

/*LEWE OKIENKO */

.wrapper .content .section .left {
    border: 1px solid #BCE0FD;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-left: auto;
    margin-top: 4em;
    width: 25%;
}

/*PASEK WYSZUKIWANIA*/

.wrapper .content .section .left .searchbar {
    height: 15%;
    outline: none;
    width: 100%;
}

.wrapper .content .section .left .searchbar form {
    border: 1px solid #2699FB;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 0.5em;
    width: 80%;
}

.wrapper .content .section .left .searchbar form input {
    background: none;
    border: none;
    color: #2699FB;
    outline: none;
}

.wrapper .content .section .left .searchbar form button {
    background: none;
    border: none;
    color: #2699FB;
    outline: none;
}

.wrapper .content .section .left .searchbar form button:hover {
    color: #000000;
}


/*PASEK NAWIGACJI */
.wrapper .content .section .left .navbar {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
}

.wrapper .content .section .left .navbar .add {
    height: 100%;
    width: 33.3%;
}

.wrapper .content .section .left .navbar button {
    background: white;
    border: 1px solid #339FFB;
    border-radius: 5em;
    color: #339FFB;
    height: 3em;
    margin-top: 0.5em;
    outline: none;
    width: 3em;
}

.wrapper .content .section .left .navbar .delete {
    height: 100%;
    width: 33.3%;
}

.wrapper .content .section .left .navbar .grid {
    height: 100%;
    width: 33.3%;
}

.wrapper .content .section .left .navbar .add button:hover {
    background: #00FE4C;
    border: none;
    color: white;
}

.wrapper .content .section .left .navbar .delete button:hover {
    background: #FF0000;
    border: none;
    color: white;
}

.wrapper .content .section .left .navbar .grid button:hover {
    background: #FFBC00;
    border: none;
    color: white;
}


.wrapper .content .section .left .latest {

    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

.wrapper .content .section .left .latest .one {
    border-bottom: 1px solid #339FFB;
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;

}

.wrapper .content .section .left .latest div:hover {
    background: #BCE0FD;
    cursor: pointer;
}

.wrapper .content .section .left .latest .one .photo {
    background-image: url(../img/twarz3.jpg);
    background-size: 4em;
    border-radius: 4em;
    height: 4em;
    margin-left: 1em;
    margin-top: 0.9em;
    width: 4em;
}

.wrapper .content .section .left .latest .info {
    color: #2699FB;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    text-align: left;
}

.wrapper .content .section .left .latest .info .name {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1.5em;
}

.wrapper .content .section .left .latest .info .mess {
    font-size: 0.8em;
    margin-bottom: 0;
}


.wrapper .content .section .left .latest .two {
    border-bottom: 1px solid #339FFB;
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
}

.wrapper .content .section .left .latest .two .photo {
    background-image: url(../img/twarz2.jpg);
    background-size: 4em;
    border-radius: 4em;
    height: 4em;
    margin-left: 1em;
    margin-top: 0.9em;
    width: 4em;
}


.wrapper .content .section .left .latest .three {
    border-bottom: 1px solid #339FFB;
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
}

.wrapper .content .section .left .latest .three .photo {
    background-image: url(../img/twarz6.jpg);
    background-size: 4em;
    border-radius: 4em;
    height: 4em;
    margin-left: 1em;
    margin-top: 0.9em;
    width: 4em;
}


.wrapper .content .section .left .latest .four {
    border-bottom-left-radius: 2.5em;
    border-bottom-right-radius: 2.5em;
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
}

.wrapper .content .section .left .latest .four .photo {
    background-image: url(../img/twarz1.jpeg);
    background-size: 4em;
    border-radius: 4em;
    height: 4em;
    margin-left: 1em;
    margin-top: 0.9em;
    width: 4em;
}


/*PRAWE OKIENKO*/

.wrapper .content .section .right {
    border: 1px solid #BCE0FD;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-left: 1em;
    margin-right: auto;
    margin-top: 4em;
    width: 65%;

}

.wrapper .content .section .right .top {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;

}

.wrapper .content .section .right .top .image {
    background-image: url(../img/twarz3.jpg);
    background-size: 4em;
    border-radius: 4em;
    height: 4em;
    margin-left: 1em;
    margin-top: 1em;
    width: 4em;
}

.wrapper .content .section .right .top .name {
    color: #2699FB;
    font-size: 1.5em;
    padding-left: 1.5em;
    padding-top: 1.3em;
    text-align: left;
    width: 60%;
}

.wrapper .content .section .right .top .icon {
    font-size: 1.5em;
    padding-top: 1.3em;
    text-align: right;
    width: 20%;
}

.wrapper .content .section .right .top .icon button {
    background: none;
    border: none;
    color: #2699FB;
}


.wrapper .content .section .right .top .icon button:hover {
    color: black;
}


.wrapper .content .section .right .messages {
    height: 60%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
}

.wrapper .content .section .right .messages .mess1 {
    background-color: #F1F9FF;
    display: flex;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
}

.wrapper .content .section .right .messages .mess1 .avatar {
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 100%;
}

.wrapper .content .section .right .messages .mess1 .avatar .profilepic {
    background-image: url(../img/prof.jpg);
    background-size: 2em;
    border-radius: 4em;
    height: 2em;
    margin-left: 1em;
    margin-top: 0.2em;
    width: 2em;
}

.wrapper .content .section .right .messages .mess1 .avatar .info {
    display: flex;
    flex-direction: column;
    padding-left: 1em;

}

.wrapper .content .section .right .messages .mess1 .avatar .info .frst {
    color: #2699FB;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0;
    width: 80%;
}

.wrapper .content .section .right .messages .mess1 .avatar .info .scnd {
    color: #2699FB;
    font-size: 0.6em;
    margin-bottom: 0;
}

.wrapper .content .section .right .messages .mess1 .mess {
    height: 65%;
    padding-left: 4em;
    width: 100%;
}

.wrapper .content .section .right .messages .mess1 .mess p {
    color: #2699FB;
    font-size: 0.8em;
    text-align: left;
}


.wrapper .content .section .right .mess2 {
    display: flex;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
}

.wrapper .content .section .right .messages .mess2 .avatar {
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 100%;
}

.wrapper .content .section .right .messages .mess2 .avatar .profilepic {
    background-image: url(../img/twarz3.jpg);
    background-size: 2em;
    border-radius: 4em;
    height: 2em;
    margin-left: 1em;
    margin-top: 0.2em;
    width: 2em;
}

.wrapper .content .section .right .messages .mess2 .avatar .info {
    display: flex;
    flex-direction: column;
    padding-left: 1em;

}

.wrapper .content .section .right .messages .mess2 .avatar .info .frst {
    color: #2699FB;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0;
    width: 80%;
}

.wrapper .content .section .right .messages .mess2 .avatar .info .scnd {
    color: #2699FB;
    font-size: 0.6em;
    margin-bottom: 0;
}

.wrapper .content .section .right .messages .mess2 .mess {
    height: 65%;
    padding-left: 4em;
    width: 100%;
}

.wrapper .content .section .right .messages .mess2 .mess p {
    color: #2699FB;
    font-size: 0.8em;
    text-align: left;
}


.wrapper .content .section .right .mess3 {
    background-color: #F1F9FF;
    display: flex;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
}

.wrapper .content .section .right .messages .mess3 .avatar {
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 100%;
}

.wrapper .content .section .right .messages .mess3 .avatar .profilepic {
    background-image: url(../img/prof.jpg);
    background-size: 2em;
    border-radius: 4em;
    height: 2em;
    margin-left: 1em;
    margin-top: 0.2em;
    width: 2em;
}

.wrapper .content .section .right .messages .mess3 .avatar .info {
    display: flex;
    flex-direction: column;
    padding-left: 1em;

}

.wrapper .content .section .right .messages .mess3 .avatar .info .frst {
    color: #2699FB;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0;
    width: 80%;
}

.wrapper .content .section .right .messages .mess3 .avatar .info .scnd {
    color: #2699FB;
    font-size: 0.6em;
    margin-bottom: 0;
}

.wrapper .content .section .right .messages .mess3 .mess {
    height: 65%;
    padding-left: 4em;
    width: 100%;
}

.wrapper .content .section .right .messages .mess3 .mess p {
    color: #2699FB;
    font-size: 0.8em;
    text-align: left;
}


.wrapper .content .section .right .box {
    height: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
}


.wrapper .content .section .right .box form {
    border: 1px solid #2699FB;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    height: 40%;
    margin-top: 1.5em;
    width: 100%;
}

.wrapper .content .section .right .box form input {
    background: none;
    border: none;
    color: #2699FB;
    outline: none;
    padding-left: 1em;
    width: 95%;
}

.wrapper .content .section .right .box form button {
    background: none;
    border: none;
    color: #2699FB;
    font-size: 1.2em;
    outline: none;
    width: 5%;

}

.wrapper .content .section .right .box form button:hover {
    color: #000000;
}

::placeholder {
    color: #2699FB;
}


@media screen and (min-width: 0px) and (max-width: 600px) {


    .wrapper .content .section {
        background: transparent linear-gradient(180deg, #0821FF 0%, #23FFF0 100%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        justify-content: center;
    }

    .wrapper .content .section .right {
        display: none;
    }

    .wrapper .content .section .left {
        border: 1px solid white;
        height: 80%;
        margin: 0;
        margin-top: 4em;
        width: 80%;
    }

    .wrapper .content .section .left .searchbar form {
        border: 1px solid white;
    }

    .wrapper .content .section .left .searchbar form input {
        color: white;
    }

    .wrapper .content .section .left .searchbar form button {
        color: white;
    }

    ::placeholder {
        color: white;
    }

    .wrapper .content .section .left .latest p {
        color: white;
    }

    .wrapper .content .section .left .latest .one {
        border-bottom: 1px solid white;

    }

    .wrapper .content .section .left .latest .two {
        border-bottom: 1px solid white;

    }

    .wrapper .content .section .left .latest .three {
        border-bottom: 1px solid white;
    }

    #sidebarCollapse {
        background: white;
        color: #0821FF;
        margin-left: -2em;
    }

}


@media screen and (min-width: 600px) and (max-width: 992px) {


    .wrapper .content .section {
        align-items: center;
        flex-direction: column;
    }

    /*LEWE OKIENKO */
    .wrapper .content .section .left {
        height: auto;
        margin: 0;
        margin-top: 3em;
        width: 80%;
    }

    .wrapper .content .section .left .latest div {
        padding-bottom: 1em;
    }

    .wrapper .content .section .right {
        height: auto;
        margin: 0;
        margin-top: 2em;
        width: 80%;
    }

    .wrapper .content .section .right .top {
        margin-bottom: 1em;
        padding-right: 1em;
    }

    .wrapper .content .section .right .messages [class^="mess"] {
        height: auto;
    }

    .wrapper .content .section .right .box form {
        padding-right: 1em;
    }
}