
/* ---------------MODALE-----------*/

.w3-modal{
    display:none;
    overflow-x: scroll;
    flex-direction: column;
    text-align: center;
}

.w3-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.w3-container p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

form input{
    background-color: white;
    border: 2px solid #BCE0FD;
    border-radius: 10px;
    color: red;
    margin-bottom: 0.5em;
    margin-top: -2em;
    padding: 0.2em 0.1em 0.2em 0.4em;
    outline: none;
    width: 40%;
    height: 3em;
}

form{
    padding-bottom: 1em;
    padding-top: 1em;
}

form p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.saved{
    background: white;
    border: 2px solid #BCE0FD;
    border-radius: 10px;
    color: black;
    padding: 0.5em 1em 0.5em 1em;
    font: 1em Arial;
    margin: 0;
}
.saved:hover{
    background: #BCE0FD;
    font-weight: bold;
}

.saved i{
    padding-left: 0.5em;
    color: #01da00;
}

.saved{
    display: block;
    margin: auto;
}


/* ------------------MODAL 3-------------*/
.content3{
    display: flex;
    flex-direction: column;
}


/* -------------------STRONA-----------------*/
.wrapper .content .section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* TABELKI */

.wrapper .content .section .tables {
    display: flex;
    flex-direction: row;
    height: 70%;
    margin-top: 5%;
    width: 90%;
}

/*LEWA STRONA*/

.wrapper .content .section .tables .left {
    background: #17A1F6 0% 0% no-repeat padding-box;
    border-radius: 0.6em;
    height: 100%;
    text-align: center;
    width: 25%;

}

/* zdjecie */
.wrapper .content .section .tables .left #imgname {

    border-radius: 15em;
    display: inline-block;
    margin-top: 1em;
    width: 10em;
    height: 10em;

}

.wrapper .content .section .tables .left .picture {

    width: 10em;
    border-radius: 15em;
}


/* informacje */

.wrapper .content .section .tables .left .info h1 {

    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0;
    margin-top: 2em;
    text-shadow: 0px 3px 6px #000000B3;
}

.wrapper .content .section .tables .left .info p {

    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 2em;
    margin-top: 0.5em;
}

/* przyciski */

.wrapper .content .section .tables .left ul li {

    margin-bottom: 1.4em;
}

.wrapper .content .section .tables .left ul li button {
    background: transparent;
    border: none;
    color: white;
    letter-spacing: 0;
    text-shadow: 0px 3px 6px #000000C4;

}

.wrapper .content .section .tables .left ul li button:hover {
    background: lightskyblue;
    padding: 0.7em;
}


/*PRAWA STRONA*/

.wrapper .content .section .tables .right {
    border: 1px solid #17A1F6;
    border-radius: 0.6em;
    color: #2699FB;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 4em;
    width: 75%;
}

/*inputy lewa*/

.wrapper .content .section .tables .right .r-left {
    height: inherit;
    text-align: center;
    width: 49%;
}

.wrapper .content .section .tables .right input:disabled{
    background-color: #F1F9FF;
    border: 2px solid #BCE0FD;
    border-radius: 10px;
    color: red;
    margin-bottom: 0.5em;
    margin-top: -2em;
    padding: 0.2em 0.1em 0.2em 0.4em;

}

.wrapper .content .section .tables .right input:enabled {
    background-color: white;
    border: 2px solid #BCE0FD;
    border-radius: 10px;
    color: red;
    margin-bottom: 0.5em;
    margin-top: -2em;
    padding: 0.2em 0.1em 0.2em 0.4em;

}


/*inputy prawa*/
.wrapper .content .section .tables .right .r-right {
    height: inherit;
    text-align: center;
    width: 49%;
}

.wrapper .content .section .tables .right .r-right .adr {
    display: flex;
    flex-direction: row;
    height: 5em;
    margin: 1em 1em 0.2em 1em;
    text-align: center;
    width: inherit;

}

/* małe inputy*/

.wrapper .content .section .tables .right .r-right .adr input {
    width: 35%
}

.wrapper .content .section .tables .right .r-right .adr .nr-mies p {
    text-align: center;
}

.wrapper .content .section .tables .right .r-right .adr .nr-dom p {
    text-align: center;
}

.wrapper .content .section .tables .right .r-right .adr .nr-dom {
    display: inline-block;
    width: 50%;

}

.wrapper .content .section .tables .right .r-right .adr .nr-mies {
    display: inline-block;
    margin-left: -1em;
    width: 50%;

}

/*linia*/

.wrapper .content .section .tables .right .line {
    border-left: thick solid #B1E0FC;
    border-left-width: 0.1em;
    margin-bottom: 4em;
    margin-top: 4em;
    width: 2%;
}


/*WERSJA MNIEJSZA*/

@media only screen and (max-width: 992px) {


    .wrapper .content .section .tables {
        display: flex;
        flex-direction: column;
        height: 80%;
    }

    .wrapper .content .section .tables .left {
        display: flex;
        flex-direction: row;
        height: 20%;
        width: 100%;
    }

    .wrapper .content .section .tables .left .picture {


        height: 6em;
        margin-left: 2em;
        margin-right: 1em;
        width: 6em;

    }

    .wrapper .content .section .tables .left .info {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 25%;
    }

    .wrapper .content .section .tables .left .info h1 {
        font-size: 1em;
        margin-top: 2em;
    }

    .wrapper .content .section .tables .left ul {
        height: 100%;
        margin-bottom: 1em;
        margin-top: 1em;
        width: 45%;
    }

    .wrapper .content .section .tables .left ul li {
        font-size: 0.8em;
        margin-bottom: 0.4em;
    }

    .wrapper .content .section .tables .left ul li button:hover {
        padding: 0.3em;
    }

    /*PRAWA STRONA*/
    .wrapper .content .section .tables .right {
        height: 80%;
        padding: 4em 0;
        width: 100%;
    }

    .wrapper .content .section .tables .right .r-left {
        font-size: 0.8em;
        height: 100%;
    }

    .wrapper .content .section .tables .right .r-right {
        font-size: 0.8em;
        height: 100%;
    }

    .wrapper .content .section .tables .right .r-right .adr {
        display: flex;
        flex-direction: row;
        height: 5em;
        margin: 1em 0 0.2em 0;
        text-align: center;
        width: inherit;

    }

}

/* WERSJA MOBILNA*/

@media screen and (max-width: 600px) {


    .wrapper .content .section .tables {
        padding-top: 3em;
    }

    .wrapper .content .section .tables .left .picture {
        height: 6em;
        margin-left: 2em;
        margin-right: 1em;
        margin-top: 0em;
        width: 6em;
    }

    .wrapper .content .section .tables .left .info h1 {
        font-size: 1em;
        margin-top: 1.5em;
    }

    .wrapper .content .section .tables .left .info p {
        color: #FFFFFF;
        font-size: 0.7em;
    }

    .wrapper .content .section .tables .right input:disabled {
        margin: 0.5em;
        width: 80%;
    }

    .wrapper .content .section .tables .right p {
        margin-bottom: 0;
        margin-top: 1em;
    }

    .wrapper .content .section .tables .right {
        padding: 2em 0;
    }

    .wrapper .content .section .tables .right .r-right .adr {
        display: flex;
        flex-direction: column;
        height: 10em;
        margin-bottom: 2.3em;
        margin-top: 0;
        text-align: center;
    }

    .wrapper .content .section .tables .right .r-right {
        margin-top: -2.5em;
    }

    .wrapper .content .section .tables .right .r-right .adr .nr-dom {
        height: 50%;
        margin-bottom: 2.3em;
        width: 100%;
    }

    .wrapper .content .section .tables .right .r-right .adr .nr-mies {
        height: 50%;
        margin-left: 0;
        width: 100%;
    }

    /*przycisk menu*/
    .wrapper .section #sidebarCollapse {
        left: 0;
        position: absolute;
        top: 4.5em;
    }

}

