* {
    outline: none;
}

.mess {
    position: fixed;
    top: 7em;
    font: Bold 1.2em Arial;
    color: red;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}


.container {
    align-items: center;
    background: transparent linear-gradient(180deg, #0821FF 0%, #23FFF0 100%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: center;
    margin: 0;
    max-width: unset;
}

.logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;

}

.logo > img {
    width: 10em;
}

.logo > p {
    color: #FFFFFF;
    font: Bold 2em Arial Rounded MT;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 0px 3px 6px #00000029;
}

form {
    align-items: center;
    border: 0.1em solid #FFFFFF;
    border-radius: 2em;
    box-shadow: 0px 30px 30px #2699FB1A;
    display: flex;
    flex-direction: column;
    height: 50%;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: left;
    width: 30%;

}


form > input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0 solid #FFFFFF;
    border-radius: 37px;
    color: #2699FB;
    font: 1em Arial;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.5em;
    text-align: left;
    width: 80%;
}

form > p {
    color: #FFFFFF;
    font: Bold 1.1em Arial;
    letter-spacing: 0;
    margin-bottom: 0.7em;
    margin-top: 0.7em;

}

.button1:hover {
    box-shadow: 0 0 20px 0 white;
}

input:focus {
    box-shadow: 0 0 20px 0 white;
}

.button1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 2em;
    color: #1EDCF2;
    font: Bold 1em Arial;
    letter-spacing: 0;
    margin-top: 4em;
    padding: 0.7em 1em 0.7em 1em;
    text-align: center;
    width: 80%;
}

.button1 > i {
    color: #1EDCF2;
    display: inline;
    padding-left: 1em;

}

.head {
    display: none;
}

h2 {
    display: none;
}



@media screen and (max-width: 600px) {
    ::placeholder {
        color: white;
    }

    body {
        font-size: 1em;
    }

    .container {
        flex-direction: column;
    }

    form {
        align-items: center;
        border: none;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        height: 60%;
        margin-top: 2em;
        padding-bottom: 0.3em;
        text-align: left;
        width: 60%;

    }

    .logo {
        display: none;
    }


    .button1 {
        color: black;
        font-size: 0.7em;
        margin-top: 2.5em;
        padding: 0.9em;
        width: 100%;
    }

    .button1 > i {
        color: black;
        margin-left: 2.5em;
        margin-right: -5em;
    }

    form > p {
        display: none;
    }

    form > input {
        background: transparent;
        border: 0.1em solid #FFFFFF;
        border-radius: 2em;
        color: #ffffff;
        font: 0.9em Arial;
        letter-spacing: 0;
        margin-bottom: 0.8em;
        margin-top: 0.8em;
        padding: 0.8em;
        padding-left: 1em;
        text-align: left;
        width: 80%;

    }

    .head {
        display: inline-block;
        margin-bottom: 3em;
        margin-top: 0;
        width: 100%;
    }

    .head > i {
        color: white;
        padding-left: 5%;
        padding-right: 27%;
    }

    h1 {
        color: #FFFFFF;
        display: inline-block;
        font: Bold 1em Arial;
        letter-spacing: 0;
    }


    h2 {
        color: #FFFFFF;
        display: inline-table;
        font: Bold 0.9em Arial;
        letter-spacing: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .mess {
        top: 12em;
        font: 1em Arial;
    }
}