
.wrapper .content .section {
    height: 91%;
    overflow-y: scroll;
    text-align: center;
    width: 100%;
}

/* NAVBAR */

.wrapper .content .section .navbar {
    height: 20%;
    margin-left: 0em;
    margin-right: 5em;
    width: inherit;
}

.wrapper .content .section .navbar div {
    background: transparent;
    border: 1px solid #7FC4FD;
    border-radius: 42px;
    color: #2699FB;
    line-height: 2.1em;
    padding: 0 1em;
}

.wrapper .content .section .navbar button {
    align-items: center;
    background: transparent;
    border: 1px solid #7FC4FD;
    border-radius: 42px;
    color: #2699FB;
    padding: 0.3em 4em;
}

.wrapper .content .section .navbar button i {
    margin-left: 2em;
    margin-right: -3em;
}


.wrapper .content .section .navbar button:hover {
    background: #2699FB;
    color: white;
}


/*TABELA */
.wrapper .content .section .table {
    height: 80%;
    width: 100%;

}

.wrapper .content .section .table .sch {
    border-collapse: separate;
    border-spacing: 1em;
    height: 100%;
    overflow-x: auto;
    width: 100%;
}


.wrapper .content .section .table .sch tr td {
    background: #00FE4C 0% 0% no-repeat padding-box;
    border-radius: 1em;
    min-width: 150px;
}

.wrapper .content .section .table .sch tr td p {
    color: white;
    margin-top: -0.3em;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.wrapper .content .section .table .sch .days .date {
    background: transparent;
    border: none;
}

.wrapper .content .section .table .sch .days .date p {
    color: #2699FB;
}

.wrapper .content .section .table .sch .user {
    background-color: #2699FB;
    border-radius: 2em;
}

.wrapper .content .section .table .sch .w {
    background-color: red;
}

.wrapper .content .section .table .sch .u {
    background-color: #FFBC00;
}


@media only screen and (max-width: 992px) {

    .wrapper .content .section .navbar {
        display: flex;
        flex-direction: column;
        height: 25%;
        margin-left: -5em;
    }

    .wrapper .content .section .table {
        height: 80%;
        margin-top: -2em;
        overflow-x: auto;
        width: 80%;
    }

}

@media screen and (max-width: 600px) {
    .wrapper .content .section .navbar {
        display: flex;
        flex-direction: column;
        height: 25%;
        justify-content: center;
        margin: 0;
        margin-bottom: 0.5em;
        padding-top: 1.5em;
    }

    .wrapper .content .section .navbar .date {
        margin-bottom: 0.5em;
    }

    .wrapper .content .section .navbar button {
        margin-bottom: 0.5em;
    }

    .wrapper .content .section .table {
        height: 80%;
        margin-top: -2em;
        overflow-x: auto;
        width: 100%;
    }
}
