.section{
    text-align: center;
}
button{
    background: white;
    border: 2px solid #BCE0FD;
    border-radius: 10px;
    color: black;
    padding: 0.5em 1em 0.5em 1em;
    font: 1em Arial;
    outline: none;

}
button:hover{
    background: #BCE0FD;
    font-weight: bold;
}

.table{
    text-align: center;
    width: 100%;
    height: auto;
}
